            /* navbar */
            
            * {
                font-family: 'Baloo Bhai 2', cursive;
            }
            
            .navbar {
                background: #F97300;
            }
            
            .nav-link,
            .navbar-brand {
                color: #fff;
                cursor: pointer;
            }
            
            .nav-link {
                border-radius: 15px;
                margin-right: 1em !important;
            }
            
            .nav-link:hover {
                background: #fff;
                color: #f97300;
            }
            
            .navbar-collapse {
                justify-content: flex-end;
            }
            
            .navbar-toggler {
                background: #f4f4f4 !important;
            }
            
            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
                font-weight: bold;
            }
            
            .navbar-brand {
                font-size: 1.8rem;
            }
            /* about me */
            
            #about-me {
                margin: 80px 10px;
            }
            
            .bg-img {
                border-radius: 15px;
                padding: 5px;
                background-color: #F97300;
            }
            
            .writing {
                padding: 5px 20px;
            }
            
            #about-me button {
                color: #F97300;
                border: 1px solid #F97300;
            }
            
            #about-me button:hover {
                color: white;
                background-color: #F97300;
            }
            /* my skills */
            
            .head {
                color: #F97300;
                font-size: 4rem;
                text-align: center;
                margin: 20px;
            }
            
            .box {
                margin: 50px 20px;
            }
            /* my-works */
            
            #my-works h1 {
                font-size: 4rem;
                text-align: center;
                color: #F97300;
                margin-bottom: 50px;
            }
            
            .bt {
                background-color: #F97300;
            }
            /* contact form */
            
            .contact-form {
                margin: 6em 0;
                position: relative;
            }
            
            .contact-form h1 {
                padding: 2em 1px;
                color: #F97300;
            }
            
            .contact-form .right {
                max-width: 600px;
            }
            
            .contact-form .right .btn-secondary {
                background: #F97300;
                color: #fff;
                border: 0;
                margin: 3px 0px;
            }
            
            .contact-form .right .form-control::placeholder {
                color: #888;
                font-size: 16px;
            }
            /* footer */
            
            footer {
                background-color: #f97300;
                color: white;
                padding: 7px;
                text-align: center;
            }